@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Lato:400);

html {
    background-color: #17171A;
}

body {
    font-family: "Source Sans Pro";
    font-size: 18px;
    padding-top: 60px;
    color: #17171A;
    /* padding-bottom: 60px; */
}

.navbar-inverse {
    background-color: #17171A;
    color: white;
}

h3, .h3 {
    font-weight: bold;
    color: #5c5e6d;
}

.btn-hvopen {
    background-color: #FFD503;
    border-color: #B5B6BC;
    font-weight: bold;
}

.footer-container {
    padding-top: 10px;
    padding-bottom: 30px;
}

.copyright {
    padding-top: 4em;
    color: #bbbbbb;
}

.footer-container a {
    color: #FFD503; /* white; /* #1684B9; */
}

.footer-container a.hover {
    text-decoration: underline;
}

.sidebar h1 {
    color: #1DA8DE;
    font-weight: bold;
    font-size: 1.3em;
}

.sidebar a {
    color: #1684B9;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #1DA8DE;
    font-size: 1.3em;
}

.author {
    color: #1DA8DE;
}

.author a {
    color: #1DA8DE;
}

.banner {
    width: 100%;
    margin-top: -10px;
    padding-bottom: 20px;
}

.banner-img {
    height: 200px;
    background-image: url(/images/banner-wide-white.jpg);
}

h1.highlight {
    display: inline-block;
    font-weight: bold;
}

span.highlight::after {
    background: black;
    height: 1.25em;
    content: "";
    width: 4px;
    margin-left: 10px;
    display: inline-block;
    margin-bottom: -10px;
}

span.highlight {
    background: #FFD503;
    padding-left: 10px;
}

@media (min-width: 768px) {
    .navbar {
        background-color: white;
    }
}
.navbar-header {
    background-color: white;
    /* background-color: rgba(255, 255, 255, 0.8); */
}

.navbar-collapse {
    background-color: white;
}

.navbar-toggle {
    border-color: #ddd;
}

.navbar-toggle .icon-bar {
    background-color: #17171A;
}

.navbar-logo img {
    margin: 0.4em;
}

.paired-content {
    padding-top: 1.1em;
}

.body-content-valign {
    padding-top: 1.1em;
}

.day-of-month {
    font-size: 2em;
    font-weight: bold;
    text-align: right;
}

.event-list {
    padding-top: 0.4em;
}

.front-page-section {
    padding-bottom: 2em;
}

img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .date-container {
        display: none;
        text-align: left;
    }
    .location-map {
        height: 400px;
    }
}

@media (min-width: 992px) {
    .date-container {
        text-align: right;
    }

.dateBox {
    display: inline-block;
    width: 60px;
    margin-right: 5px;
    margin-top: 3em;
    font-size: 10px;
    font-weight: bold;
    line-height: 11px;
    color: #444;
    text-align: center;
    text-transform: uppercase;
    background: #fafafa; /* Old browsers */
    border: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.day {
    display: block;
    position: relative;
    font-size: 4em;
    font-weight: bold;
    line-height: 1.2em;
    color: #17171A;
}
.month {
    display: block;
    color: #17171A;
    line-height: 1.5em;
    font-size: 1.5em;
    background: #FFD503;
    border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
}

.location-map {
    height: 600px;
}

}
