@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Lato:400);


body {
    font-family: "Source Sans Pro";
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #1DA8DE;
    font-weight: bold;
    font-size: 1.3em;
}

.sidebar a {
    color: #1684B9;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #1DA8DE;
    font-size: 1.3em;
}

.author {
    color: #1DA8DE;
}

.author a {
    color: #1DA8DE;
}

.banner {
    #background-color: #ff0000;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 20px;
}

.banner-img {
    height: 200px;
    background-image: url(/images/banner-wide-white.png);
}
