---
title: HV Open News Archive
layout: default
---

{% assign posts_by_year = site.posts | group_by_exp: "post",
"post.date | date: '%Y'" %}

{% for year in posts_by_year %}
<div class="row news-by-year front-page-section">
  <div class="col-md-3">
    <h1>{{ year.name }}</h1>
  </div>
  <div class="col-md-9 body-content-valign">
    {% for post in year.items %}
    <div class="">
      <a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date:
        "%b %-d" }} - {{ post.title }}</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
