---
layout: default
---

{% assign upcoming_events = site.events | where_exp: "item",
"item.dtend > site.time" | sort: 'dtstart' | group_by_exp: "item", "item.dtstart | date:
'%B'" %}
{% assign upcoming_meetings = site.events | where_exp: "item",
"item.dtend > site.time" | where: "type", "meeting" %}

{% assign next_event = upcoming_meetings.first %}
{% assign location = site.locations | where: "title", next_event.location | first %}

<div class="row">
  <div class="col-md-9 col-md-offset-3">
    Welcome to HVOpen (previously MHVLUG). Learn
    more <a href="/about.html">about us</a> and
    our <a href="/2018/03/mhvlug-becomes-hvopen">rebranding</a>.
  </div>
</div>

<div class="row front-page-section">
  <div class="col-md-3">
    <h1 class="highlight"><span class="highlight">Next</span> Meeting</h1>
  </div>
  <div class="col-md-9">

    <div class="article">
      <div class="row">
        <div class="col-md-9">
        <h1 class="meeting-title"><a href="{{ site.baseurl}}{{ next_event.url }}">{{ next_event.title }}</a></h1>
        </div>
        <div class="col-md-3 date-container">
          <div class="dateBox">
            <span class="month">{{ next_event.date | date: "%b" }}</span>
            <span class="day">{{ next_event.date | date: "%-d" }}</span>
          </div>
        </div>
      </div>
        <div class="content">
          {{ next_event.content }}
        </div>
        <div class="row logistics">
          <div class="col-md-4">
            <h3>When</h3>
            <div>{{ next_event.dtstart | date: "%a, %b %-d, %Y" }}</div>
            <div>{{ next_event.dtstart | date: "%-I%P" }} - {{
              next_event.dtend | date: "%-I%P" }}</div>
          </div>
          <div class="col-md-4">
            <h3>Where</h3>
            <div><a href="{{ site.baseurl}}{{location.url}}">{{ location.title }}</a></div>
            <div class="address">
              {{ location.address }}<br/>
              {% if location.address1 %}
              {{ location.address1 }}<br/>
              {% endif %}
              {{ location.city }}, {{ location.state }} {{ location.zip }}
            </div>
          </div>
          <div class="col-md-4">
             <h3>RSVP</h3>
             <a class="btn btn-default btn-hvopen" href="https://www.meetup.com/mhvlug/events/{{ page.meetup_id }}"
                role="button">RSVP on Meetup</a>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row front-page-section">
  <div class="col-md-3">
    <h1 class="highlight"><span class="highlight">Upcoming</span></h1>
  </div>
  <div class="col-md-9">
    {% for month in upcoming_events %}
    <div class="row col-md-12">
      <h3>{{ month.name }}</h3>
    </div>
    {% for post in month.items %}
    <div class="row">
      <div class="col-xs-2 col-sm-1 day-of-month">
        {{ post.dtstart | date: "%-d" }}
      </div>
      <div class="col-xs-10 col-sm-11 event-list">
        <a href="{{ post.url }}">{{ post.title }}</a><br/>
        Time: {{ post.dtstart | date: "%-I:%M%P" }}<br/>
        Location: {{ post.location }}
      </div>
    </div>
    {% endfor %}

    {% endfor %}

  </div>
</div>



<div class="row front-page-section">
  <div class="col-md-3">
    <h1 class="highlight"><span class="highlight">News</span></h1>
  </div>
  <div class="col-md-9">
    {% for post in site.posts %}
    <div class="row col-md-12">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
      <div class="post-content">

        {{ post.excerpt }}
        <p><a href="{{ post.url }}">Read More</a> <i>({{ page.content |
        number_of_words | divided_by: 180 | append: " minutes to read" }})</i></p>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
