---
layout: default
description: >-
  A monthly gathering of open technology contributors, users,
  enthusiasts, and open curious folks. Main meeting with lecture and
  lightning talks held the first Wednesday of the month at Vassar
  College.
---

{% assign upcoming_events = site.events | where_exp: "item",
"item.dtend > site.time" | sort: 'dtstart' | group_by_exp: "item", "item.dtstart | date:
'%B'" %}
{% assign upcoming_meetings = site.events | where_exp: "item",
"item.dtend > site.time" | where: "type", "meeting" %}

{% assign next_event = upcoming_meetings.first %}

<div class="row">
    <div class="col-md-9 col-md-offset-3">
        <p>
            Welcome to HV Open (previously MHVLUG). Learn
            more <a href="/about.html">about us</a> and
            our <a href="/2018/03/mhvlug-becomes-hvopen">rebranding</a>. If
            you like what we do please
            consider <a href="https://patreon.com/hvopen">supporting
                us on Patreon</a>.
        </p>
    </div>
    <div class="col-md-9 col-md-offset-3">
        <div class="admonition note">
            <img class="virus" src="images/coronavirus-5107804.svg" alt="Image by
            iXimus from Pixabay" align="left" />
            <p class="admonition-title">Note</p>
            <p>Due to COVID19, all HV Open events will be digital and
                virtual for the forseable future. Zoom links will be
                provided via Meetup. You must RSVP <strong>before</strong> the event
                starts to have access to the zoom link.
            </p>
        </div>
    </div>
</div>


<div class="row front-page-section">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12">
      <h1 class="highlight"><span class="highlight">Next</span> Meeting</h1>
      <div class="dateBox">
        <span class="month">{{ next_event.dtstart | date: "%b" }} </span>
        <span class="day">{{ next_event.dtstart | date: "%-d" }}</span>
        <span class="time">{{ next_event.dtstart | date: "%-I%P" }}</span>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">

    <div class="next-event">
      <div class="row">
        <div class="col-md-12">
          <h1 class="meeting-title"><a href="{{ site.baseurl}}{{
                                             next_event.url }}">{{ next_event.title }}</a></h1>
        </div>
      </div>
      <div class="content">
        {% if next_event.image %}
          <img alt="{{ next_event.image_alt }}" src="{{ next_event.image }}" align="right" vspace="5"
          hspace="5" />
          {% endif %}

          {{ next_event.content }}
        </div>
        <div class="row logistics">
          <div class="col-md-4">
            <h3>When</h3>
            <div>{{ next_event.dtstart | date: "%a, %b %-d, %Y" }}</div>
            <div>{{ next_event.dtstart | date: "%-I%P" }} - {{
              next_event.dtend | date: "%-I%P" }}</div>
          </div>
          <div class="col-md-4">
            <h3>Where</h3>
            <div><a href="{{ site.baseurl}}{{next_event.locobj.url}}">{{next_event.locobj.title}}</a></div>
            <div class="address">
              {{ next_event.locobj.addr_html }}
            </div>
          </div>
          <div class="col-md-4">
             <h3>RSVP</h3>
             <a class="btn btn-default btn-hvopen" href="https://www.meetup.com/hvopen/events/{{ next_event.meetup_id }}"
                role="button">RSVP on Meetup</a>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row front-page-section">
  <div class="col-md-3">
    <h1 class="highlight"><span class="highlight">Upcoming</span></h1>
  </div>
  <div class="col-md-9">
    {% for month in upcoming_events %}
    <div class="row col-md-12">
      <h3>{{ month.name }}</h3>
    </div>
    {% for post in month.items %}
    <div class="row">
      <div class="col-xs-2 col-sm-1 day-of-month">
        {{ post.dtstart | date: "%-d" }}
      </div>
      <div class="col-xs-10 col-sm-11 event-list">
        <a href="{{ post.url }}">{{ post.title }}</a><br/>
        Time: {{ post.dtstart | date: "%-I:%M%P" }}<br/>
        Location: {{ post.location }}
      </div>
    </div>

    {% endfor %}

    {% endfor %}

  </div>
</div>
