{% include header.html %}

{% assign location = (site.locations | where: "title", page.location ) | first %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
          <h1><a href="{{ site.baseurl}}{{ page.url }}">
              {{ page.title }}
          </a></h1>

    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-push-4">
      <div class="article">
        <div class="post-content">
          {{ content }}
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-pull-8">
      <h3>When</h3>
      <div class="when">
          {{ page.dtstart | date: "%b %-d, %Y: %-I%P" }} - {{ page.dtend
          | date: "%-I%P" }}
      </div>
      <h3>Where</h3>
        <div>Location: {{ page.location }}</div>
        {% map location %}

      <h3>RSVP</h3>
    </div>
  </div>
</div>
{% include footer.html %}
