{% include header.html %}

{% assign location = (site.locations | where: "title", page.location ) | first %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
          <h1><a href="{{ site.baseurl}}{{ page.url }}">
              {{ page.title }}
          </a></h1>

    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-push-4">
      <div class="article">
        <div class="post-content">
          {{ content }}
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-pull-8">
      <h3>When</h3>
      <div>{{ page.dtstart | date: "%a, %b %-d, %Y" }}</div>
      <div>{{ page.dtstart | date: "%-I%P" }} - {{
        page.dtend | date: "%-I%P" }}</div>
      <h3>Where</h3>
      <div><a href="{{ site.baseurl}}{{location.url}}">{{ location.title }}</a></div>
      <div class="address">
        {{ location.address }}<br/>
        {% if location.address1 %}
        {{ location.address1 }}<br/>
        {% endif %}
        {{ location.city }}, {{ location.state }} {{ location.zip }}
      </div>
      {% map location %}
      <h3>RSVP</h3>
      <a class="btn btn-default btn-hvopen" href="{{ page.meetup }}"
         role="button">RSVP on Meetup</a>
    </div>
  </div>
</div>
{% include footer.html %}
