{% include header.html %}
{%- if page.meetup_group %}
{% assign meetup_group = page.meetup_group %}
{%- else %}
{% assign meetup_group = "hvopen" %}
{%- endif %}
{% assign description = page.excerpt | strip_html | escape %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Event",
    "location": {
        "@type": "Place",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "{{ page.locobj.city }}",
            "addressRegion": "{{ page.locobj.state }}",
            "postalCode": "{{ page.locobj.zip }}",
            "streetAddress": "{{page.locobj.address }}"
        },
        "name": "{{ page.locobj.title }} {{ page.locobj.subtitle }}"
    },
    "url": "{{ site.url }}{{ page.url }}",
    {%- if page.image %}
    "image": "{{ site.url }}{{ page.image }}",
    {%- endif %}
    {%- if page.type == "meeting" %}
    "name": "HV Open Lecture: {{ page.title }}",
    {%- else %}
    "name": "{{ page.title }}",
    {%- endif %}
    "description": "{{description}}",
    "startDate": "{{ page.dtstart | date_to_xmlschema }}",
    "endDate": "{{ page.dtend | date_to_xmlschema }}",
    {%- if page.meetup_id %}
    "potentialAction": {
        "@type": "RsvpAction",
        "target": "https://www.meetup.com/{{ meetup_group }}/events/{{ page.meetup_id }}",
        "endTime": "{{ page.dtend | date_to_xmlschema }}"
    },
    {%- endif %}
    "organizer": {
        "@type": "Organization",
        "ethicsPolicy": "https://hvopen.org/code-of-conduct",
        "name": "HV Open",
        "foundingDate": "20130305T0000",
        "url": "https://hvopen.org",
        "logo": "{{ site.url }}/images/logo_medium.png"
    }
}
</script>
<div class="container">
  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      {% if page.title_image %}
      <a href="{{ site.baseurl }}{{ page.url }}">
        <img alt="{{ page.title }}" src="{{ site.baseurl }}{{ page.title_image }}">
      </a>
      {% else %}
      <h1><a href="{{ site.baseurl }}{{ page.url }}">
          {{ page.title }}
      </a></h1>
      {% endif %}
    </div>
  </div>
  <div class="row front-page-section">
    <div class="col-md-9 col-md-push-3">
      <div class="article">
        <div class="post-content">
          {% if page.image %}
          <img alt="{{ page.image_alt }}" src="{{ page.image }}" align="right" vspace="5"
          hspace="5" />
          {% endif %}
          {{ content }}
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-pull-9">
      <h3>When</h3>
      <div>{{ page.dtstart | date: "%a, %b %-d, %Y" }}</div>
      <div>{{ page.dtstart | date: "%-I%P" }} - {{
        page.dtend | date: "%-I%P" }}</div>
      <h3>Where</h3>
      <div><a href="{{ site.baseurl}}{{page.locobj.url}}">{{
          page.location }}</a></div>
      <div class="address">
        {{ page.locobj.addr_html }}
      </div>
      {% if page.meetup_id %}
      {% if page.dtend > site.time %}
      <h3>RSVP</h3>
      <a class="btn btn-default btn-hvopen"
         href="https://www.meetup.com/{{ meetup_group }}/events/{{ page.meetup_id }}"
         role="button">RSVP on Meetup</a>
      {% else %}
      <h3>Meetup</h3>
      <a class="btn btn-default btn-hvopen"
         href="https://www.meetup.com/{{ meetup_group}}/events/{{ page.meetup_id }}"
         role="button">View on Meetup</a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% include footer.html %}
