{% include header.html %}

<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-xs">
    </div>
    <div class="col-md-9">
      <div class="article">
        <div class="">
          <h1><a href="{{ site.baseurl}}{{ page.url }}">
              {{ page.title }}
          </a></h1>
        </div>
        <div class="where">
          <p class="address">
            {{ page.addr_html }}
          </p>
          <p>
            {{ content }}
          </p>

          {% map %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
