{% include header.html %}

<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-xs">
      {% include sidebar.html %}
    </div>
    <div class="col-md-9">
      <div class="article">
        <div class="">
          <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.title }}</a></h1>
          <div class="post-date">{{ page.date | date: "%b %-d, %Y" }}</div>
          <div class="post-content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include disqus-comments.html %}
{% include footer.html %}
