---
layout: default
redirect_from:
- /meetings
- /monthly-meetings
---

<div class="row">
  <div class="col-md-9 col-md-push-3">
    <h1>Meetings at HVOpen</h1>
    <p>
      The following is a list of past and upcoming meetings at
      HVOpen. It will take us a little time to import all of the
      meetings from the mhvlug website.
    </p>
  </div>
</div>

{% assign posts_by_year = (site.events | where: "type", "meeting" |
sort: "dtstart" | reverse | group_by_exp: "event", "event.dtstart | date: '%Y'") %}
{% for year in posts_by_year %}
<div class="row news-by-year front-page-section">
  <div class="col-md-3">
    <h1>{{ year.name }}</h1>
  </div>
  <div class="col-md-9 body-content-valign">
    {% assign items = (year.items | sort: 'dtstart' | reverse ) %}
    {% for post in items %}
    <div>
      <a href="{{ site.baseurl}}{{ post.url }}">{{ post.dtstart |
        date: "%b %-d" }} - {{ post.title }}</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
