---
layout: default
redirect_from:
- /meetings
- /monthly-meetings
---

<div class="row">
  <div class="col-md-9 col-md-push-3">
    <h1>Meetings at HV Open</h1>
    <p>
      The following is a list of past and upcoming meetings at
      HV Open. Lunches and other events aren't included.
    </p>
    <p>
      If you use an online calendar and want upcoming events to show
      up there, we recommend RSVPing
      in <a href="https://www.meetup.com/hvopen/">Meetup</a>. It
      provides a calendar feed of all events you've RSVPed yes to.  We
      also provide a direct <a href="/events.ics">ical feed</a>, and
      publish all events
      on <a href="http://www.burbio.com/states/New-York/Poughkeepsie/hvopen">Burbio</a>
      for more ways to integrate this into your calendar.
    </p>
  </div>
</div>

{% assign posts_by_year = site.events | where: "type", "meeting" |
sort: "dtstart" | reverse | group_by_exp: "event", "event.dtstart | date: '%Y'" %}
{% for year in posts_by_year %}
<div class="row front-page-section">
  <div class="col-md-3">
    <h1>{{ year.name }}</h1>
  </div>
  <div class="col-md-9 body-content-valign">
    {% assign items = year.items | sort: 'dtstart' | reverse %}
    {% for post in items %}
    <div>
      <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
      <span class="meeting-date">({{ post.dtstart | date: "%b %-d" }})</span>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
